//Font colors:
$black: #000000;
$dark-grey: #444444;

//Viewports:
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Background-colors:
$dark-beige: #d6d6d6;
$basic-blue: #81b3d2;
$basic-white: #ffffff;
$basic-black:#000000;
